POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mpn-db
JWT_SECRET='MARCAPRANOS'
EMAIL_RESEND_API_KEY='re_dfhauafS4F8f'
EMAIL_FROM='sistema@email.com.br'
LINK_TO_CANCEL='http://localhost:3000/reservations/cancel'