POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=name-db
JWT_SECRET='jwtsecret'
EMAIL_RESEND_API_KEY='re_4P1K3Y123'
EMAIL_FROM='sistema@email.com.br'
LINK_TO_CANCEL='http://localhost:3000/reservations/cancel'