TYPE_ENV=production

PORT=8080

POSTGRES_HOST=192.168.1.100
POSTGRES_PORT=6543
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_pass
POSTGRES_DB=example_db

EMAIL_RESEND_API_KEY='re_NEWAPIKEY456'
EMAIL_FROM='novo@email.com.br'
LINK_TO_CANCEL='http://example.com/reservations/cancel'
JWT_SECRET_TOKEN_TO_CANCEL='newjwtsecret'
DEFAULT_PASSWORD='newdefaultpassword'
JWT_SECRET_MANAGER_LOGIN='newjwtsecretmanager'

TWILIO_ACCOUNT_SID='AC1234567890abcdef1234567890abcdef'
TWILIO_AUTH_TOKEN='abcdef1234567890abcdef1234567890'
TWILIO_WHATSAPP_FROM='whatsapp:+5511999999999'
TWILIO_SMS_FROM=+5511988888888

ZENVIA_SMS_FROM=newUserZenvia
ZENVIA_TOKEN=newZenviaToken123456